html{
	padding:10px;
	font-family:Tahoma,sans-serif;
}
.login-buttons-dropdown-align-right{
	float:right;
}
h1{
  font-size:50px;
}
p{
  padding:20px;
}
#chat{
	padding:20 px;
	width:100 px;
	height:480 px;
	float:right;
	overflow:auto;
	margin-top: 45px;
	position: absolute;
	left: 670px;
}
